[Desktop Entry]
Categories=System;Settings;
Comment[en_US]=Customize the bootloader (GRUB2 or BURG)
Comment=Customize the bootloader (GRUB2 or BURG)
Exec=kdesu grub-customizer
GenericName[en_US]=
GenericName=
Icon=grub-customizer
MimeType=
Name[en_US]=Grub Customizer
Name=Grub Customizer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
